@charseset 'utf-8';
*{
	margin:0;
	padding:0;
}
.mAdvance{
	width:80%;
	margin:0 auto;
}
.mAdvance .generateTable table{
	width:100%;
	border:1px solid #8B0000;
	border-collapse:collapse;
	text-align:center;
}
.generateTable table th,td{
	border:1px solid #8B0000;
	border-collapse:collapse;
}
.generateTable table tr:nth-of-type(1) th:nth-of-type(1){
	width:12%;
}
.generateTable table a{
	color:#800000;
	text-decoration:none;
}
.generateTable table a:hover{
	text-decoration:underline;
}
.generateTable table tr:nth-of-type(1) th:nth-of-type(2){
	width:25%;
}
.backHandleButton{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#8B0000;
	border-radius:5px;
	margin-top:20px;
	margin-left:550px;
	cursor:pointer;
	color:#fff;
}
.transferButton{
	float:left;
	width:100px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:#8B0000;
	border-radius:5px;
	margin-top:20px;
	margin-left:100px;
	cursor:pointer;
}