@CHARSET 'utf8';


.left{
  width: 10%;
  height: 400px;
  top:120px;
  left:2%;
  position: fixed;
}

.content{
  width: 100%;
}
.left button{
  line-height: 20px;
}
.bottom{
  widows: 100%;
  height:46px;
  background-color: #FF3300;
}

table{
	width: 70%;
	height: 100px;
	margin-left: 20%;
	background-color:white;
	margin-top: 15px;
}

table td{
	color: #EF4836;
}

td span{
	color: black;
}

textarea{
  resize: none;
  width: 98%;
  height: 100%;
}