@charset 'utf-8';

* {
	margin: 0;
	padding: 0;
	font-family:'微软雅黑';
	border:none;
}

img {
	border: 0;
}

body {
	background: #eee;
}

.content{
	width: 100%;
	height: auto;
	
}
.left {
	float: left;
	width: 50%;
	height: 500px;
	background: #fff;
	margin-left: 5%;
	margin-top: 5%;
	_display: inline;/*ie66*/
	margin-bottom: 10%;
	border-radius: 5px;
	border: 2px solid #fff;
	box-shadow: 3px 3px 5px #fff;
	
}

.left .title {
	width: 100%;
	height: 50px;
	font-size: 26px;
	margin-top: 2%;
}
.title .span {
	display: inline-block;
	zoom: 1;
	*display: inline;
	float: none;
	margin-right: 20%;
}

#span2 {
	text-shadow: 3px 3px 5px #B22222;
	color: #B22222\9;
	font-weight: bold\9;
}

.left .info {
	width: 90%;
	height: 370px;
	margin-top: 10%;
	margin-left: 10%;
	
}
.info .box {
	margin-top: 1%;
	width: 100%;
}
.info .box span {
	display: inline-block;
	width: 15%;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}
.info .box input {
	width: 30%;
	height: 20px;
	font-family:'微软雅黑';
	border:1px solid #000;
	border-radius:3px;
	padding-left:5px;
}
#span3 {
	width: 50%;
	display: inline-block;
}
#span3 input {
	width: 50%;
	height: 20px;
	line-height:20px;
	font-family:'微软雅黑';
	border:1px solid #000;
	border-radius:3px;
}
.info .box1 input {
	margin-left: 15%;
	margin-top: 3%;
	background: #800000;
	width: 30%;
	height: 30px;
	font-family:'微软雅黑';
	border-radius:3px;
	color:#fff;
	border:none;
}
.box1 a{
	color:#800000;
	text-decoration:none;
	margin-left:5%;
}
.box1 a:hover{
	text-decoration:underline;
}

.right {
	float: right;
	margin-right: 5%;
	margin-top: 5%;
	width: 30%;
	height: 500px;
	_diaplay: inline;
	
}

.right img{
	width:400px;
	height:338px;
	
}


#baidumap {
	position: absolute;
	width: 80%;
	height: 70%;
	z-index: 2;
	background: #eee;
	left: 10%;
	top: 20%;
	display: none;
	border:3px solid #fff;
}

#container{
	position: absolute;
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background: white;
}

#city{
	position:absolute;
	left:47%; 
	top:5px;
	width:40%;
	height:25px;
	border:1px solid #000;
	border-radius:5px;
}
#baidumap p {
	position: absolute;
	left: 0%;
	top: 2%;
	
}

#surePos {
	position: absolute;
	right: 2%;
	bottom: 2%;
	display: block;
	background: #800000;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	color:#fff;
}

#closeMap {
	position: absolute;
	right: 2%;
	top: 2%;
	display: block;
	background: #800000;
	border:none;
	border-radius: 5px;
	cursor: pointer;
	color:#fff;
}

#searchResultPanel{
	border:1px solid #C0C0C0;
	display:none;
	z-index:200;
}
.tangram-suggestion-main{
	z-index: 200;
}
#jumpMap {
	width:30px;
	height:24px;
	line-height:24px;
	border-radius:3px;
	color:#fff;
	background:#FE4D3D;
	position:absolute;
	top:2%;
	left:88%;
}