@charset 'utf-8';
* {
	margin: 0;
	padding: 0;
	font-family:'微软雅黑';
	border:none;
}
img {
	border: 0;
}
#procesOrder {
	width: 100%;
	height: 100%;
}

.back {
	width: 100%;
	height: 30px;
	line-height: 30px;
	background: #eee;
	margin-bottom: 50px;
}
.back a {
	margin-left: 90%;
	text-decoration: none;
	color: #800000;
}
.back a:hover {
	text-decoration:underline;
}
table {
	table-layout: fixed;
}
table td {
	word-wrap: break-word;
}

#tt {
	width: 95%;
	margin:0 auto;
	border: 1px solid #800000;
	border-collapse: collapse;
	table-layout: fixed;
	/* background:red; */
}
#tt th,td {
	height: 28px;
	border: 1px solid #800000;
	text-align: center;
}
#tt th{
	background:#B0C4DE;
}
caption {
	font-size:30px;
}
tr .checkbox {
	width: 5%;
}
tr span {
	cursor: pointer;
}
.newCol {
	text-align: center;
}
.newCol table {
	width: 80%;
	margin-left: 10%;
	border:1px solid #800000;
	border-collapse:collapse;
	background:#fff;
	
}
