@CHARSET 'utf8';

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  z-index: 0;
}

body {
  width: 100%;
  background: #F5F5F5;
  font-family: '微软雅黑';
}

.logo {
  display: block;
  width: 180px;
  height: auto;
  margin: 20px auto;
}

.logo img {
  width: 180px;
}

.content {
  margin: 20px 10px 0 10px;
}

.loginMessage {
  width: 100%;
}

.phone input {
  width: 96%;
  height: 35px;
  margin: 0;
  padding: 5px 2% 5px 2%;
  font-size: 16px;
  font-family: '微软雅黑';
  background: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid gray;
  border-bottom: none;
}

.password input {
  width: 96%;
  height: 35px;
  margin: 0;
  padding: 5px 2% 5px 2%;
  font-size: 16px;
  font-family: '微软雅黑';
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid gray;
}

.loginButton {
  width: 100%;
  height: 40px;
  margin: 20px 0 0 0;
  line-height: 40px;
  text-align: center;
  background: #FE4D3D;
  color: white;
  border-radius: 5px;
  cursor:pointer;
}

.otherLink {
  width: 100%;
  margin: 70px 0 10px 0;
}

.otherLink #forgetPass {
  float: left;
  color: blue;
  text-decoration: none;
}

.otherLink #goRegist {
  float: right;
  color: blue;
  text-decoration: none;
}