@charset 'utf-8';
*{
	margin:0;
	padding:0;
}
body{
	 background: #F5F5F5;
}
ul{
	list-style:none;
}
.refund{
	width:98%;
	margin:0 auto;
	
}
.refund .refundRule ul{
	margin-top:10px;
}
.refund .refundRule ul li{
	margin-left:2%;
	line-height:30px;
	font-size:14px;
}
.refundReason{
	margin-top:30px;
}
.refundReason textArea{
	resize:none;
	width:90%;
	height:100px;
	margin:10px 5% 10px 5%;
}
.refundReason .submitRefund{
	width:40%;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#E94E3D;
	color:#fff;
	margin-left:55%;
	border-radius:5px;
	font-size:18px;
	cursor:pointer;
}